

<%= form_for(@bid) do |f| %>

  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class = "table table-bordered">
  <tbody>
      <tr>
        
        <td>
                  
                <div class="field">
                  <%= f.label :player_id %><br>
                  <%if params[:player_id] != nil %>
                  <%= f.hidden_field :player_id ,:value => params[:player_id]%>
                    <% @myusers.each do |x|%>
                      <% if ((params[:player_id]).to_i==x.id) %>
                      <%= x.name%>
                      <% @thisplayer = x%>
                    <%end%>
                    <%end%>
                  <%else%>
                  <%= f.hidden_field :player_id ,:value => params[:bid][:player_id]%>
                    <% @myusers.each do |x|%>
                      <% if ((params[:bid][:player_id]).to_i==x.id) %>
                      <%= x.name%>
                      <% @thisplayer = x%>
                    <%end%>
                    <%end%>
                  <%end%>
                </div>

              <div class="field">
                <%= f.label :Description %><br>
                <%= f.hidden_field :player_id ,:value => params[:player_id]%>
              <% @myusers.each do |x|%>
                <% if ((params[:player_id]).to_i==x.id) %>
                <%= x.desc%>
                <%@thisplayer = x%>
              <%end%>
              <%end%>
              </div>

              <div class="field">
                <%= f.label :amount %><br>
                $<%= f.number_field :amount %>
              </div>
                <br>

              <div>
              <%if params[:action] == "new"%>
                <%= f.hidden_field :status,:value => 0%>
              <%end%>  
              </div>


              <div class="actions">
                        <%= f.submit "Create",:class => "btn btn-lg btn-primary btn-block"%>
              </div>

        </td>
        
        <td>
                <div class="container">
                <%=image_tag @thisplayer.image, :class => "img-responsive", :width => 240, :height => 478 %>
                  </div>
        </td>
        

      </tr>
  </tbody>
</table>

<!--
<div class="field">
    <%#= f.hidden_field :user_id ,:value => current_user.id%>
  </div>
  -->
<% end %>
