<h1><%= current_user.name%></h1>

<div class="container">
<%=image_tag @current_user.image, :class => "img-responsive", :width => 120, :height => 240 %>
</div>

<!--
<div>
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:1000px;width:1200px;'><div id='gmap_canvas' style='height:1000px;width:1200px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='http://www.freevisitorcounters.com'>Freevisitorcounters</a> <script type='text/javascript' src='http://embedmaps.com/google-maps-authorization/script.js?id=efebbfcba07210d987e8833f54b6218e21facc43'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(28.6372353,77.18236379999996),mapTypeId: google.maps.MapTypeId.HYBRID};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(28.6372353,77.18236379999996)});infowindow = new google.maps.InfoWindow({content:'<strong>8A/1</strong><br>Rajinder Nagar<br>110060 Delhi<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</div>
-->

<h3><button class="btn btn-lg btn-success btn-block" onclick="$('#target').toggle();">Top Players of the week</button></h3>
<div>
  <table class="table table-hover" id="target" style="display: none">
    <thead>
        <tr>
        <th>S.No</th>
        <th>Player Name</th>
        <th>Description</th>
        <th>Minimum Bid($)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <%counter=1%>
        <% @myusers.each do |u| %>
        <tr>
        <%if u.is_player%>
        <td><%=counter%></td>
        <td><%=u.name%></td>
        <td><%=u.desc%></td>
        <td><%=u.min_bid%></td>
        <%counter+=1%>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Bid',new_bid_path({ :player_id => u.id })%></button></td>
        <%end%>
        </tr>
        <%end%>
      </tbody>
  </table>
  


</div>

<div>
<%= link_to 'All Bids', bids_path ,:class => "btn btn-lg btn-info btn-block"%>
</div>


<div>
<table class="table table-striped">
 <tbody>
    <tr>
      <td class="col-md-3"><%= current_user.desc %></td>

      <td class="col-md-3">Balance: <strong>$<%= current_user.balance %></strong></td>
    </tr>
  </tbody>
</table>
</div>


<div class="container">
<h3>Players Available in the market:</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Description</th>
        <th>Minimum Bid</th>
        <th>Maximum Bid</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <%counter=1%>
        <% @myusers.each do |u| %>
        <tr>
        <%if u.is_player%>
        <td><%=counter%></td>
        <td><%=u.name%></td>
        <td><%=u.age%></td>
        <td><%=u.desc%></td>
        <td><%=u.min_bid%></td>
        <td><%=u.max_bid%></td>
        <%counter+=1%>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Bid',new_bid_path({ :player_id => u.id })%></button></td>
        <%end%>
        </tr>
        <%end%>
      </tbody>
  </table>
</div>

<div class="container">
<h3>My Bids in place: </h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Player Name</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <%counter=1%>
        <% @mybids.each do |u| %>
        <tr>
        <%if u.user_id == current_user.id%>
        <td><%=counter%></td>
        <% @myusers.each do |x|%>
        <% if u.player_id == x.id%>
        <td><%=x.name%></td>
        <%break%>
        <%end%>
        <%end%>
        <td><%=u.amount%></td>
        
        <%counter+=1%>
        <td>
        <%if u.status == 0%>
        <button type="button" class="btn btn-default"><%= link_to 'Waiting'%></button>
        <%elsif u.status == 1%>
        <button type="button" class="btn btn-success"><%= link_to 'Accepted'%></button>
        <%elsif u.status == 2%>
        <button type="button" class="btn btn-danger"><%= link_to 'Rejected'%></button>
        <%end%>
        </td>
        <%end%>
        </tr>
        <%end%>
      </tbody>
  </table>
</div>

