<h1><%= current_user.name%></h1>


<div class="container">
<%=image_tag @current_user.image, :class => "img-responsive", :width => 120, :height => 240 %>
</div>


<h3><button class="btn btn-primary" onclick="$('#target').toggle();">Top Players of the week</button></h3>
<div>
  <table class="table table-hover" id="target" style="display: none">
    <thead>
        <tr>
        <th>S.No</th>
        <th>Player Name</th>
        <th>Description</th>
        <th>Minimum Bid($)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <%counter=1%>
        <% @myusers.each do |u| %>
        <tr>
        <%if u.is_player%>
        <td><%=counter%></td>
        <td><%=u.name%></td>
        <td><%=u.desc%></td>
        <td><%=u.min_bid%></td>
        <%counter+=1%>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Bid',new_bid_path({ :player_id => u.id })%></button></td>
        <%end%>
        </tr>
        <%end%>
      </tbody>
  </table>
  


</div>

<div>
<%= link_to 'All Bids', bids_path ,:class => "btn btn-primary"%>
</div>


<div>
<table class="table table-striped">
 <tbody>
    <tr>
      <td class="col-md-3"><%= current_user.desc %></td>

      <td class="col-md-3">Balance: <strong>$<%= current_user.balance %></strong></td>
    </tr>
  </tbody>
</table>
</div>


<div class="container">
<h3>Players Available in the market:</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Description</th>
        <th>Minimum Bid</th>
        <th>Maximum Bid</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <%counter=1%>
        <% @myusers.each do |u| %>
        <tr>
        <%if u.is_player%>
        <td><%=counter%></td>
        <td><%=u.name%></td>
        <td><%=u.age%></td>
        <td><%=u.desc%></td>
        <td><%=u.min_bid%></td>
        <td><%=u.max_bid%></td>
        <%counter+=1%>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Bid',new_bid_path({ :player_id => u.id })%></button></td>
        <%end%>
        </tr>
        <%end%>
      </tbody>
  </table>
</div>

<div class="container">
<h3>My Bids in place: </h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Player Name</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <%counter=1%>
        <% @mybids.each do |u| %>
        <tr>
        <%if u.user_id == current_user.id%>
        <td><%=counter%></td>
        <% @myusers.each do |x|%>
        <% if u.player_id == x.id%>
        <td><%=x.name%></td>
        <%break%>
        <%end%>
        <%end%>
        <td><%=u.amount%></td>
        
        <%counter+=1%>
        <td><button type="button" class="btn btn-primary"><%= link_to 'Status'%></button></td>
        <%end%>
        </tr>
        <%end%>
      </tbody>
  </table>
</div>

